html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3 {
    text-align: center;
}

.contenido {
    width: 95%;
    max-width: 120rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.filtros {
    text-align: center;
    margin-bottom: 3rem;
}

.resultados {
    display: flex;
    justify-content: center;
    text-align: center;
}
.reservar {
    text-align: center;
    margin-top: 1.5rem;
}